<h1>Books</h1>
<% @book.each do |book| %>
  <p>Title</p>
  <span><%= book.title %></span>
  <p>Body</p>
  <span><%= book.body %></span>
  <%= link_to "Show", book_show_path(book.id) %>
  <%= link_to "Edit", book_edit_path(book.id) %>
<% end %>

<h2>New book</h2>
<%= form_with model: @books, local: true do |f| %>

  <p>title</p>
  <%= f.text_field :title %>

  <p>body</p>
  <%= f.text_area :body %>

  <%= f.submit "create book" %>
<% end %>